// Common kingfisher (Alcedo atthis)
@birds-color-00: darken(#0E6081, 10%); // Default background
@birds-color-01: lighten(@birds-color-00, 13%); // Lighter background (status bars)
@birds-color-02: lighten(@birds-color-00, 13%); // Selection background
@birds-color-03: fade(@birds-color-05, 30%);    // Comments, invisibles, highlighting
@birds-color-04: #316A90; // Dark foreground (status bars)
@birds-color-05: #A7EAF6; // Default foreground, caret, delimiters, operators
@birds-color-06: #9F9EAE; // Light foreground (infrequent)
@birds-color-07: #9F9EAE; // Light background (infrequent)
@birds-color-08: #36A6DD; // Variables, XML tags, Markup link text, Markup lists, Diff deleted
@birds-color-09: #FAFAFA; // Integers, boolean, constants, XML attributes, Markup link URL
@birds-color-0A: #9F9EAE; // Classes, Markup bold, search text background
@birds-color-0B: #FAFAFA; // Strings, inherited class, Markup code, Diff inserted
@birds-color-0C: #F29940; // Support, regular expressions, escape characters, Markup quotes
@birds-color-0D: #3FB6CF; // Functions, methods, attribute IDs, headings
@birds-color-0E: #F29940; // Keywords, storage, selector, Markup italic, Diff changed
@birds-color-0F: #F29940; // Deprecated, opening/closing embedded language tags
