// Eurasian magpie (Pica pica)
// TODO too little contrast
@birds-color-00: #17191D; // Default background
@birds-color-01: #212B32; // Lighter background (status bars)
@birds-color-02: #212B32; // Selection background
@birds-color-03: #2C333D; // Comments, invisibles, highlighting
@birds-color-04: #2C333D; // Dark foreground (status bars)
@birds-color-05: #928F9F; // Default foreground, caret, delimiters, operators
@birds-color-06: #7D7F82; // Light foreground (infrequent)
@birds-color-07: darken(#DFDDE9, 10%); // Light background (infrequent)
@birds-color-08: #007BA7; // Variables, XML tags, Markup link text, Markup lists, Diff deleted
@birds-color-09: #394F6B; // Integers, boolean, constants, XML attributes, Markup link URL
@birds-color-0A: #313C5F; // Classes, Markup bold, search text background
@birds-color-0B: #40826D; // Strings, inherited class, Markup code, Diff inserted
@birds-color-0C: #004953; // Support, regular expressions, escape characters, Markup quotes
@birds-color-0D: #2F4236; // Functions, methods, attribute IDs, headings
@birds-color-0E: #DFDDE9; // Keywords, storage, selector, Markup italic, Diff changed
@birds-color-0F: #DFDDE9; // Deprecated, opening/closing embedded language tags
